<td>
  <div class="box subtitle is-6 has-text-centered has-text-link-dark">
    {{blynkResults.button}}
  </div>
</td>
<td>
  <div class="box subtitle is-6 has-text-centered has-text-link-dark">
    {{blynkResults.temp}}
  </div>
</td>
<td>
  <div class="box subtitle is-6 has-text-centered has-text-link-dark">
    {{blynkResults.humidity}}%
  </div>
</td>
<td>
  <div class="box subtitle is-6 has-text-centered has-text-link-dark">
    {{blynkResults.pressure}} HPa
  </div>
</td>
<td>
  <div class="box subtitle is-6 has-text-centered has-text-link-dark">
    {{blynkResults.light}} LUX
  </div>
</td>

