{{> menu active="SmartHome"}}

<div id="BlynkValues">
  <div>
  {{blynkResults.blynkRaw}}
</div>
<div>
  {{blynkResults.button}}
</div>
<div>
  {{blynkResults.temp}}
</div>
<div>
  {{blynkResults.pressure}}
</div>
<div>
  {{blynkResults.humidity}}
</div>
</div>


{{#if blynkResults.refreshPage }}
  {{> smart-home-refresh-script }}
{{/if }}

